<% provide(:title, "Help") %>

<%# <h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p> %>

<h1>Sample App - Help</h1>
<p>
    <a href="https://mp-gmr.herokuapp.com/">This is the Help page for the Sample Application</a>
</p>