<%# <h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p> %>

<h1>Sample App - Home</h1>
<p>
    <a href="https://gentle-eyrie-11175.herokuapp.com/">This is the Home page for the Sample Application</a>
</p>