<%# <% provide(:title, "Home") %>

<%# <h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p> %>

<div style="background:transparent !important" class="center jumbotron">
    <%# <h1>Welcome to Sample App</h1> %>
    <h1>Welcome to Micropost</h1>
    <h2>
        Here, you can share you thoughs on the move.
    </h2>
    <%# <h2>
        This is the Home page for the <a href="https://gentle-eyrie-11175.herokuapp.com/">Sample Application</a>.
    </h2> %>
    <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>

<div class="center">
    Powered by <br><br>
    <%= link_to image_tag("rails.svg", alt: "Rails logo", width:"200"),  "https://rubyonrails.org/" %>
</div>    