<footer class="footer"> 
    <small>Created by : Mugunthan Raju</small>
    <nav>
        <ul>
            <li><%= link_to "About", '/about' %></li>
            <li><a href="https://www.linkedin.com/in/mugunthanraju/">Contact</a></li>
        </ul> 
    </nav>
</footer>